<p id="notice"><%= notice %></p>

<p>
  <strong>Book Name:</strong>
  <%= @book.book_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category.try(:category_name) %>
</p>

<p>
  <strong>Price(INR):</strong>
  <%= @book.price %>
</p>

<p>
  <strong>ISBN:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Status:</strong>
  <%= @book.publish_status.titleize %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
